.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;

  .input-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input-box {
    width: 100%;
    padding: 10px 40px 10px 10px;  // 오른쪽 아이콘 공간 확보
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba($color: #ffec39, $alpha: 0.3);
    outline: none;

    &:focus {
      border-color: #ff4081;
    }

    &.input-error {
      border-color: #ff0000;
    }
  }

  .search-icon {
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
  }

  .input-error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }
}
